.search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input{
  padding: 10px;
  width: 60%;
  border: none;
  border-radius: 1px;
  background-color:#24242477;
  color: white;
}

.search-button{
  padding: 10px;
  border: #807d7d solid;
  border-radius: 1px;
  background-color:#242424;
  color: white;
}

.search-button:focus {     
  background-color:#ee171ec7;
  border:#ee171ec7;  
}


.limit-selector{
  position: relative;
  top: 150px;
}